<div class="alert alert-success">Servers works!!!</div>
<div>
  <button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >Add Server</button>

  <!--div>
    <label>Server name</label>
    <input type="text" class="form-control" (input)="onUpdateServerName($event)" />
    <p>{{ serverName }}</p>
  </div-->

  <div>
    <label>Server name</label>
    <input type="text" class="form-control" [(ngModel)]="serverName" />
    <p>{{ serverName }}</p>
  </div>

  <p>{{ serverCreationStatus }}</p>
  
  
  <app-server></app-server>
  <app-server></app-server>
</div>
